@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --dark-text-100: #e3dfd2;
  --dark-text-200: #a8a8a8;
  --dark-background-900: #14141a;
}

body {
  background-color: var(--dark-background-900);
  color: var(--dark-text-100);
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.09em;
}

h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

::selection {
  background: black;
  color: white;
}

